input {
  display: none;
}
.size {
  border: 1px solid #1d1f22;
  width: 63px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.size div {
  width: 100%;
  height: 100%;
  z-index: 5;
}

input:checked + .size {
  background-color: black;
  border: 2px solid #9e0000;
  color: white;
}

input:disabled + .size {
  opacity: 0.5;
}
