.wrapper {
  margin: 21px 0;
  max-height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.description {
  width: 55%;
  display: flex;
  flex-direction: column;
}
.amount {
  display: flex;
}

.imgContainer {
  max-width: 105px;
  max-height: 158px;
}

.itemImg {
  max-width: 100%;
  max-height: 100%;
}

.title {
  max-width: 135px;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  margin-right: 18px;
}

.price {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  margin-top: 5px;
}

.sizes {
  max-width: 56px;
  margin-top: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.small {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  border: 1px solid #1d1f22;
  width: 24px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;
}

.medium {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  border: 1px solid #1d1f22;
  width: 24px;
  height: 24px;
  background-color: rgba(166, 166, 166, 0.5);
  cursor: pointer;
}
