.cart {
  position: relative;
}

.cart span {
  position: absolute;
  right: -10px;
  bottom: 20px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: black;
  color: white;
  text-align: center;
}
