.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  background: #5ece7b;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  margin-right: 10px;
}

.btn[disabled] {
  opacity: 0.5;
}
